[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boilerplate = {extras = ["docs-builder", "build-system", "test-runner"], file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.12"
